App ICON "images/tpuy.ico" 
1 VERSIONINFO 
PRODUCTVERSION 0, 1, 0, 0 
FILEFLAGSMASK 0 
FILEOS 0x40000 
FILETYPE 1 
{ 
BLOCK "StringFileInfo" 
{ 
BLOCK "040904E4" 
{ 
VALUE "CompanyName", "www.gtxbase.org" 
VALUE "FileDescription", "Tepuy. Base para Sistemas de Gestión" 
VALUE "FileVersion", "24/09/2019 " 
VALUE "InternalName", "tpuy" 
VALUE "LegalCopyright", "GNU Public License" 
VALUE "OriginalFilename", "tpuy_win_x86_hb32.exe" 
VALUE "ProductName", "TPuy" 
VALUE "ProductVersion", "0.6.1(b)" 
VALUE "Comments", "Compilado por Orseit,c.a. " 
} 
} 
} 
